.post__comments {
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-left: 3px;
}

.post__comments > div > form {
  display: flex;
  flex-direction: row;
}

.post__comments > div > form > button {
  background-color: #4178F2;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: #eff2f5;
  cursor: pointer;
}

.post__comments__box {
  display: flex;
  flex-direction: column;
}

.post__comments__avatar {
  display: inline-flex;
}

.post__comment {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.post__comment > div {
  display: flex;
}

/* .post__comment + div {
  display: flex;
} */

.post__comment__text {
  background-color: #eff2f5;
  border-radius: 15px;
  border: none;
  padding: 6px 10px;
  margin: 5px;
  width: fit-content;
}

.post__comments > div {
  margin: 5px 5px 5px 5px;
}

/* .post__comments >  .post__comments__box > div:nth-of-type(1) {
  display: none;
} */

.post__comments > form {
  display: flex;
  padding: 5px;
}

.post__comments__send {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  margin-left: 6px;
  border-radius: 999px;
  background-color: #eff2f5;
  width: 64%
}

.post__comments__send > input {
  border: none;
  background-color: #eff2f5;
  outline-width: 0;
  width: 100%
}

.post__comments__send > svg {
  color: rgb(164, 152, 133);
  cursor: pointer;
  margin-top: 3px;
}

.post__comments__emojiPicker > .emoji-picker-react {
  position: absolute;
  z-index: 100;
  background-color: #eff2f5;
}

/* post comment button, and edit button */
.post__comments>form>button, .post__comment__text + button {
  background-color: #4178F2;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #eff2f5;
  cursor: pointer;
}

.post__comment__text + button {
  padding: 5px;
}
